.contacts{
    @media screen and (min-width: map-get($view-port, 'desktop') ){
        display: flex;
        align-items: center;
        gap: 50px;
    }
    @media screen and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
}
}
.contacts__link{
    @media screen and (max-width:767px) {
        display: none;
    }
    color: var(--primary-text-color);
    @media screen and (max-width:1199px) {
        padding: 0;
        justify-content: left;
        font-size: 12px;
        line-height: calc(14/12);
    }
}
.contacts__icon{
    fill: var(--primary-text-color);
    transition: fill var(--primary-anim);
}
.contacts__link:focus .contacts__icon,
.contacts__link:hover .contacts__icon{
    fill: var(--accent-text-color);
}