.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    max-width: 480px;

    @media screen and (min-width:map-get($view-port, 'tablet')) {
        max-width: 768px;
    }

    @media screen and (min-width: map-get($view-port, 'desktop') ){
        max-width: 1200px;
    }
}