.header{
    border-bottom: 1px solid #ECECEC;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 93px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header__item{
    position: relative;
}
.header__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
    transition: color var(--primary-anim);
    padding: 32px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header__link:focus,
.header__link:hover{
    color: var(--accent-text-color);
}
.header__link--current{
    color: var(--accent-text-color);
    &::after{
    content: ''; 
    position: absolute; 
    bottom: -1px;
    width: calc(100% + 4px);
    height: 4px;  
    background-color: var(--accent-text-color);
    border-radius: 2px;
}
}
