.team{
    background-color: var(--primary-bg-color);
}
.team__item{
    background-color: var(--primary-white-color);
}
.team__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.team__text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}
.team__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}
.team__label:nth-child(2) {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}