.work{
    padding-top: 0px;
}
.work__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.work__item{
    position: relative;
}
.work__label{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);

}
.work__text{
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}