body{
    font-family: var(--primary-font), sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    color: var(--primary-text-color);
}
.icon{
    fill: var(--primary-icon-color);
}