:root{
    --logo-font:'Raleway';
    --primary-font:'Roboto';
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --primary-bg-color: #F5F4FA;
    --primary-white-color:#ffffff;
    --primary-icon-color: #AFB1B8;
    --primary-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}